<!-- -->
<ion-header>
	<ion-navbar color="primary">

	</ion-navbar>
</ion-header>
<ion-content padding class="profiles-bg">
	<div class="auth-content">

			<div padding-horizontal text-center>
			<h1 ion-text class="text-secondary" style="text-align: center; margin-left: 0.6%;">
				<strong>Bricker</strong>
			</h1>
		</div>

		<br>

		<div padding-vertical>
		  <ion-segment [(ngModel)]="auth" color="light">
		    <ion-segment-button class="titulo1" value="login">
		      Ingreso
		    </ion-segment-button>
		    
		  </ion-segment>
		</div>

		<div [ngSwitch]="auth">
			<!-- Login form -->
			<div id="loginForm" *ngSwitchCase="'login'">
				<form [formGroup]="onLoginForm" class="list-form">
					<ion-item>
						<ion-label floating>
							<ion-icon name="mail" item-start class="text-white"></ion-icon>
							Email
						</ion-label>
						<ion-input type="email" [(ngModel)]="user" formControlName="email"></ion-input>
					</ion-item>
					<p ion-text color="light" class="text-12x has-error" *ngIf="onLoginForm.get('email').touched && onLoginForm.get('email').hasError('required')">Este campo es requerido</p>

					<ion-item>
						<ion-label floating>
							<ion-icon name="lock" item-start class="text-white"></ion-icon>
							Contraseña
						</ion-label>
						<ion-input type="password" [(ngModel)]="pass" formControlName="password"></ion-input>
					</ion-item>
					<p ion-text color="light" class="text-12x has-error" *ngIf="onLoginForm.get('password').touched && onLoginForm.get('password').hasError('required')">Este campo es requerido</p>
				</form>

				<p text-right ion-text color="light" tappable (click)="Recuperar_contra()"><strong>Recuperar contraseña</strong></p>

				<div>
					<button ion-button icon-start block color="dark2" (click)="login()" [disabled]="!onLoginForm.valid">
						<ion-icon name="log-in" class="login" ></ion-icon>
						INGRESAR
					</button>
				<br>
					<ion-grid class="btn-group" fixed>
						<ion-row>
							<button ion-button icon-only block class="btn-facebook col col-4 col-md-3 col-lg-2">
								<ion-icon name="logo-facebook"></ion-icon>
							</button>
							<button ion-button icon-only block class="btn-twitter col col-4 col-md-3 col-lg-2">
								<ion-icon name="logo-twitter"></ion-icon>
							</button>
							<button ion-button icon-only block class="btn-gplus col col-4 col-md-3 col-lg-2">
								<ion-icon name="logo-googleplus"></ion-icon>
							</button>
						</ion-row>
						
	
	
	<!--	
				<ion-row> 
				<button ion-button icon-only block> cuenta: {{result.nombre_cuenta}} </button>
				</ion-row>
				<ion-row> 
					<button ion-button icon-only block> cuenta: {{result.password}} </button>
			</ion-row>

	 -->

					</ion-grid>
					
					

				</div>
			</div>



			<div id="registerForm" *ngSwitchCase="'register'">
		
		    <div margin-top>
		 
		      <ion-grid class="btn-group" fixed>
		        <ion-row>
		          <button ion-button icon-only block class="btn-facebook col col-4 col-md-3 col-lg-2">
		            <ion-icon name="logo-facebook"></ion-icon>
		          </button>
		          <button ion-button icon-only block class="btn-twitter col col-4 col-md-3 col-lg-2">
		            <ion-icon name="logo-twitter"></ion-icon>
		          </button>
		          <button ion-button icon-only block class="btn-gplus col col-4 col-md-3 col-lg-2">
		            <ion-icon name="logo-googleplus"></ion-icon>
		          </button>
		        </ion-row>
		      </ion-grid>
		    </div>
		  </div>

		</div>


	</div>
</ion-content>
