
$font-path: "../assets/fonts";
@import "ionic.globals";

// Grid breakpoints

$grid-max-widths: (
 lg: 992px
);

// Colores

$colors: (
  primary:    #920c20,
  secondary:  #eeb30f,
  danger:     #8a0f0f,
  light:      #ffffff,
  dark:       #96071a,
  light2:     #1b489b,
  dark2:      #072763,
  light3:     #4c74bd
);

//primary     #1b489b
//secondary   #dd9a1c 
//dark        #100c50  


//  Variables Compartidas


$text-color: color($colors, primary); // rgba(205, 30, 55, 1)

$background-color: #fff;

$toolbar-background: #fff;


// App iOS Variables


// $toolbar-ios-background: color($colors, primary);
$toolbar-ios-border-color: rgba(color($colors, primary), .4);

$searchbar-ios-min-height: 52px;
$searchbar-ios-input-height: 3.5rem;
$searchbar-ios-background-color: #fff;
$searchbar-ios-input-background-color: #eff2f5;
$searchbar-ios-toolbar-input-background: $searchbar-ios-input-background-color;
$searchbar-ios-border-color: #eff2f5;

$list-ios-border-color: rgba(color($colors, primary), .2);

$card-ios-box-shadow-color: rgba(color($colors, primary), .3);

// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here

$toolbar-border-color: rgba(color($colors, primary), .2);
$searchbar-md-input-background-color: $searchbar-ios-input-background-color;
$searchbar-md-input-border-radius: 5px;

$list-md-border-color: rgba(color($colors, primary), .2);
// $toolbar-md-background: color($colors, primary)

$card-md-box-shadow: 0 2px 2px 0 rgba(color($colors, primary), .14), 0 3px 1px -2px rgba(color($colors, primary), .2), 0 1px 5px 0 rgba(color($colors, primary), .12);

$toolbar-md-text-color: color($colors, dark);

// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here


// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.

@import "ionic.theme.default";
@import "animate";

// Ionicons

@import "ionic.ionicons";


// Fonts
// --------------------------------------------------

// @import "roboto";
// @import "noto-sans";
