page-walkthrough {

  .toolbar-background {
    background: color($colors, primary) !important;
    border-color: transparent;
  }

  .b_inicio{
    width: 70% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  
  .b_inicio2{
    width: 40% !important;
    margin-left: auto !important;
    margin-right: auto !important;
  }

  .slide-zoom {
    height: 100%;
  }

  .slide-title {
    margin-top: 2rem;
  }

  .slide-title2{
    margin-top: -0.5rem;
  }

  .slide-image {
    max-height: 50%;
    max-width: 60%;
    margin: 18px 0;
  }

  b {
    font-weight: 500;
  }

  p {
    padding: 0 40px;
    font-size: 14px;
    line-height: 1.5;
    color: #60646B;

    b {
      color: #000000;
    }
  }

}
